flake8==7.0.0
flake8-builtins==2.2.0
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8-quotes==3.4.0
mccabe==0.7.0
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
setuptools==69.1.1
snowballstemmer==2.2.0
Adafruit-Blinka==8.35.0
Adafruit-BMP==1.5.4
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-ds3231==2.4.20
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.2.0
adafruit-circuitpython-typing==1.10.3
Adafruit-DHT==1.4.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
datetime==5.5
blinker==1.4
blinkt==0.1.2
board==1.0
smbus==1.1.post2
SQLAlchemy==2.0.29
typing_extensions==4.10.0
python-dotenv~=1.0.1
SQLAlchemy-Utils==0.41.2
